.header {
  align-items: center;
  min-height: 60px;

  &-menu {
    align-items: center;

    &__button {
      width: 25px;
      height: 16px;
      cursor: pointer;
      position: relative;
      z-index: 1;
      transition: width 0.25s;

      span {
        width: 25px;
        height: 2px;
        background: $white;
        position: relative;
        display: block;

        &::after,
        &::before {
          display: block;
          content: "";
          width: 12px;
          height: 2px;
          background: $white;
          position: absolute;
          transition: width 0.25s;
        }

        &:after {
          top: 5px;
        }

        &::before {
          width: 25px;
          top: 10px;
        }
      }
    }

    &__list {
      margin-left: 50px;
      z-index: -1;

      @include _600 {
        margin-left: 5px;
        width: 250px;
      }

      ul {
        column-gap: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        text-transform: uppercase;
        transform: translateX(-200px);
        opacity: 0;

        @include _600 {
          column-gap: 15px;
          line-height: 20px;
        }
      }
    }

    &__link {
      position: relative;
      color: rgba(255, 255, 255, 0.5);
      transition: color 0.25s;

      &:hover {
        color: $violet;
      }

      &.lang {
        color: $white;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          .header-menu__languages {
            display: block;
          }
        }
      }

      svg {
        width: 12px;
        height: 12px;
        fill: $white;
        transform: rotate(180deg);
        margin-left: 9px;
      }
    }

    &__languages {
      padding: 10px 15px;
      border-radius: 6px;
      background: $dark;
      position: absolute;
      display: none;
    }

    &__language {
      font-weight: 500;
      cursor: pointer;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.5);
      transition: color 0.25s;

      &:hover {
        color: $violet;
      }
    }
  }

  &.opened {
    .header {
      &-menu {
        &__button {
          span {
            width: 12px;

            &::after {
              width: 25px;
            }

            &::before {
              width: 12px;
            }
          }
        }

        &__list {
          z-index: 1;

          ul {
            opacity: 1;
            transform: translateX(0);
            transition: opacity 0.2s, transform 0.25s;
            flex-wrap: wrap;
          }
        }
      }
    }
  }

  &-timer {
    margin-left: auto;
    column-gap: 19px;

    @include _1120 {
      display: none;
    }

    span {
      font-weight: 400;
      line-height: 19px;
      color: $grey;
    }

    &__value {
      column-gap: 10px;
    }

    &__item {
      color: $sea;

      &-value {
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        min-width: 55px;
        text-align: center;
      }

      &-info {
        text-align: center;
        font-weight: 400;
      }
    }
  }
}
